.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.DS_Store

**/*.quarto_ipynb
/_site
/site_libs
/_pipeline/processed/Eileen-Graham-Discovery-Bay/png
/_pipeline/processed/Eileen-Graham-Discovery-Bay/webp
/_pipeline/source/Eileen-Graham-Discovery-Bay
